// -*- mode: c++; tab-width: 16 -*-

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        q_or_qu: q_or_qu {
            compatible = "zmk,behavior-hold-tap";
            label = "Q_OR_QU";
            bindings = <&kp>, <&qu>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_studio_unlock {
            key-positions = <20 10>;
            bindings = <&studio_unlock>;
        };
    };

    macros {
        qu: Qu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp Q>,
                <&macro_release>,
                <&kp LSHIFT &kp RSHFT>,
                <&macro_tap>,
                <&kp U>;

            label = "QU";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
       &kp F        &kp P        &kp D         &kp L         &kp X          &kp SEMI      &kp U         &kp O         &kp Y        &kp B
       &hml LGUI S  &hml LALT N  &hml LCTRL T  &hml LSHFT H  &kp K          &kp COMMA     &hmr RSHFT A  &hmr RCTRL E  &hmr LALT I  &hmr RGUI C
&kp Z  &kp V        &kp W        &kp G         &kp M         &kp J          &kp MINUS     &kp DOT       &kp APOS      &kp EQUAL    &kp SLASH    &q_or_qu Q 0
                                 &key_repeat   &kp R         &lt SYM TAB    &lt NAV BSPC  &kp SPACE     &kp RET
            >;
        };

        nav_layer {
            display-name = "Navigation";
            status = "reserved";
        };

        sym_layer {
            display-name = "Symbols";
            status = "reserved";
        };

        extra_layer { status = "reserved"; };
    };
};
